/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom global styles here if needed, e.g., for animations */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
  transform: translateY(20px);
}
.animation-delay-500 {
  animation-delay: 0.5s;
}
.animation-delay-1000 {
  animation-delay: 1s;
}
.animation-delay-2000 {
  animation-delay: 2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.filter-btn.active {
  background-color: #4f46e5;
  color: #ffffff;
}
